{% extends 'base.html' %}

{% block title %}Чат с {{ recipient.username }}{% endblock %}

{% block content %}
<h2>Чат с {{ recipient.username }}</h2>

<div id="chat-box" class="border rounded p-3 bg-white mb-3">
    {% for msg in messages %}
        <div class="d-flex {% if msg.sender_id == user.id %}justify-content-end{% else %}justify-content-start{% endif %}">
            <span class="p-2 text-white bg-{% if msg.sender_id == user.id %}primary{% else %}success{% endif %}">
                <strong>{{ msg.sender.username }}:</strong> {{ msg.content }}
            </span>
        </div>
    {% endfor %}
</div>

<form id="chat-form">
    <div class="input-group">
        <input type="text" name="message" class="form-control" placeholder="Введите сообщение..." required>
        <button class="btn btn-primary" type="submit">Отправить</button>
    </div>
</form>

<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
<script>
    var socket = io();
    var currentUserId = {{ user.id }};
    var recipientId = {{ recipient.id }};
    var room = `${Math.min(currentUserId, recipientId)}_${Math.max(currentUserId, recipientId)}`;

    socket.emit('join', { recipient_id: recipientId });

    document.getElementById('chat-form').addEventListener('submit', function(e) {
        e.preventDefault();
        var messageInput = document.querySelector('input[name="message"]');
        var message = messageInput.value;
        if (message.trim() === "") return;

        socket.emit('send_private_message', {
            message: message,
            recipient_id: recipientId
        });

        messageInput.value = '';
    });

    socket.on('receive_private_message', function(data) {
        if (data.user_id !== currentUserId && recipientId !== data.user_id) return;

        var chatBox = document.getElementById('chat-box');
        var newMessage = document.createElement('div');
        var isSender = currentUserId === data.user_id;
        newMessage.className = 'd-flex ' + (isSender ? 'justify-content-end' : 'justify-content-start');
        newMessage.innerHTML = `<span class="p-2 text-white bg-${isSender ? 'primary' : 'success'}" style="word-wrap: break-word; word-break: break-word; white-space: normal; max-width: 75%; display: inline-block;">
                                    <strong>${data.username}:</strong> ${data.content}
                                </span>`;
        chatBox.appendChild(newMessage);
        chatBox.scrollTop = chatBox.scrollHeight;
    });
</script>
{% endblock %}
