{% extends 'base.html' %}

{% block title %}Чат{% endblock %}

{% block content %}
<h2>Чат</h2>

<!-- Список пользователей -->
<div class="row">
    <div class="col-4">
        <h4>Пользователи</h4>
        <ul id="user-list" class="list-group">
            {% for user in users %}
                <li class="list-group-item">
                    <a href="{{ url_for('private_chat', recipient_id=user.id) }}">{{ user.username }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>   
</div>
{% endblock %}
